.viewer {
    padding: 0 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;

}

.profile-introduce {
    margin-top: 70px;
    margin-left: 50px;
}

.profile-introduce h5 {
    color: rgb(24, 218, 82);
    letter-spacing: 2px;
}

.profile-introduce p {
    color: #0da33c;
    font-size: 50px;
}

.frofile-img img {
    width: 300px;
    border-radius: 20px;
}

.item-job {
    font-size: 30px;
    color: rgb(24, 218, 82);
}