.viewer {
    padding: 0 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;

}

.profile-introduce {
    margin-top: 70px;
    margin-left: 50px;
}

.profile-introduce h5 {
    color: rgb(24, 218, 82);
    letter-spacing: 2px;
}

.profile-introduce p {
    color: #0da33c;
    font-size: 50px;
}

.frofile-img img {
    width: 300px;
    border-radius: 20px;
}

.item-job {
    font-size: 30px;
    color: rgb(24, 218, 82);
}

.animate__animated {
    --animate-duration: 2s;
}

/* This changes all the animations globally */
:root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
}

.music-waves {
    position: relative;
}

.music-waves span {
    position: absolute;
    width: 5px;
    height: 5px;
    bottom: 0;
    background: #000;
    animation: waves 0.5s infinite ease;
}

.music-waves span:nth-child(1) {
    animation-delay: 0.3s;
    background: #ff8c00;
}

.music-waves span:nth-child(2) {
    margin-left: 7px;
    animation-delay: 0.4s;
    background: #ffff00;
}

.music-waves span:nth-child(3) {
    margin-left: 14px;
    animation-delay: 0.6s;
    background: #26d53a;
}

.music-waves span:nth-child(4) {
    margin-left: 21px;
    animation-delay: 0.8s;
    background: #26e6a3;
}

.music-waves span:nth-child(5) {
    margin-left: 28px;
    animation-delay: 1s;
    background: #1da8e2;
}

@keyframes waves {
    0% {
        height: 5px;
    }

    30% {
        height: 15px;
    }

    60% {
        height: 20px;
    }

    80% {
        height: 15px;
    }

    100% {
        height: 5px;
    }
}

.icons {
    margin-top: 30px;
}

.icons a {
    text-decoration: none;
    color: #1da8e2;
}

/* .profile-introduce,
.frofile-img {
    position: relative;
    opacity: 0;
    /* Ẩn phần tử ban đầu */
/* transition: opacity 1s, transform 1s; */
/* Thời gian di chuyển */
/* } */

/* .profile-introduce {
    left: 0;
}

.frofile-img {
    right: 0;
} */